name: Test to build Docker image

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.ruby_version }}-${{ matrix.ubuntu_version }} ${{ matrix.arch }}
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    strategy:
      matrix:
        ubuntu_version:
          - noble
          - jammy
          - focal
        ruby_version:
          - 3.1.6
          - 3.2.6
          - 3.3.7
          - 3.4.1
          - master
        arch:
          - amd64
          - arm64

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Build docker image
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: >-
            rake docker:build arch=${{ matrix.arch }} ruby_version=${{ matrix.ruby_version }} ubuntu_version=${{ matrix.ubuntu_version }}
          on_retry_command: sudo systemctl start docker

      - name: Check image
        run: |
          docker images
          docker run rubylang/ruby:${{ matrix.ruby_version }}-${{ matrix.ubuntu_version }} ruby -v
